{% extends "base.html" %}
{% block main %}

<h1> Profiles </h1>
{% include 'flash_messages.html' %}

{% for user in users %}
<div class = "grid-container">
    
    <div class = "photo-container">
        <img src = "{{url_for('static', filename = 'uploads/' + user.photo + '.png')}}">
    </div>
    
    <div class = "user-info-container">
        <h6> {{ user.first_name }} {{ user.last_name }} </h6>
        <p> <img src = "{{url_for('static', filename = 'icons/person.png')}}"   height = '30' width = '30'>{{user.gender}}</p>
        <p> <img src = "{{url_for('static', filename = 'icons/location.png')}}" height = '30' width = '30'>{{user.location}}</p>
    </div>
    
    <div class = "profiles-buttons">
        <a href = "{{url_for('userProfile', userid = user.id)}}">
            <button> View Profile </button>
        </a>
    </div>
    
</div>
<br>
{% endfor %}

{% endblock %}
    